<div class="{{key}} ability_score">
    <label class="{{key}} attribute roll-label">
        <div class="dice-icon"><span class="d8-font"></span><span class="d10-font"></span><span class="d12-font"></span></div>
        <button class="h3 roller" data-i18n="{{key}}" name="{{label}}" type="action" value="{{key}}">{{label}}</button>
    </label>
    <h5 data-i18n="d8">d8s</h5>
    {{> "systems/scp_foundation/templates/partials/fill-track.html" attrKey=key dieType="d8" maxVal=12}}
    <h5 data-i18n="d10">d10s</h5>
    {{> "systems/scp_foundation/templates/partials/fill-track.html" attrKey=key dieType="d10" maxVal=6}}
    <h5 data-i18n="d12">d12s</h5>
    {{> "systems/scp_foundation/templates/partials/fill-track.html" attrKey=key dieType="d12" maxVal=3}}
</div>
