<div id="ma_popup" class="popup" style="display: none">
    <div class="popup-content">
        <span class="closePopup">&times;</span>
        <h2>Lancement des dés</h2>
        <div>
        <label class="input-label exertionUse" style="display: none">
            <span class="h5" data-i18n="exertionUse">Utiliser des points d'exertion ?</span>
            <select name="exertionUse" title="@{exertionUse}" id="exertionUse" >
                <option value="0">0</option>
            </select>
        </label>
        </div>
        <div>
        <label class="input-label targetPlayer">
            <span class="h5" data-i18n="exertionUse">Cible du lancé</span>
            <select name="launchTarget" title="@{launchTarget}" id="launchTarget" >
                <option value="Public">Public</option>
                <option value="GM">Cachés</option>
            </select>
        </label>
        </div>
        <div>
        <label class="input-label launchDice">
            <span class="h5" data-i18n="lancer">Lancer</span>
        </label>
        </div>
    </div>
</div>
