<div class="pnj-attributes">
    <div class="leftPnj">
        <label class="pnjDice"><span id="Force">Force =</span>
            <input type="text" name="system.attributes.strength" value="{{systemData.attributes.strength}}">
        </label>
        <label class="pnjDice"><span id="Santé">Santé =</span>
            <input type="text" name="system.attributes.health" value="{{systemData.attributes.health}}">
        </label>
        <label class="pnjDice"><span id="Perception">Perception =</span>
            <input type="text" name="system.attributes.perception" value="{{systemData.attributes.perception}}">
        </label>
    </div>
    <div class="rightPnj">
        <label class="pnjDice"><span id="Dexterité">Dexterité =</span>
            <input type="text" name="system.attributes.dexterity" value="{{systemData.attributes.dexterity}}">
        </label>
        <label class="pnjDice"><span id="Intelligence">Intelligence =</span>
            <input type="text" name="system.attributes.intelligence" value="{{systemData.attributes.intelligence}}">
        </label>
        <label class="pnjDice"><span id="Volonté">Volonté =</span>
            <input type="text" name="system.attributes.willpower" value="{{systemData.attributes.willpower}}">
        </label>
    </div>
</div>
