<form class="flexcol {{cssClass}} attachment-sheet" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="128" width="128" alt="attachment"/>
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="Name">
            </h1>
        </div>
    </header>

    <section class="sheet-body">
        <label>Description </label>
        {{editor descriptionHTML target="system.description" button=true editable=editable engine="prosemirror"}}
        <div class="attributeValues">
            <label>Recul
                <input name="system.effect.recoil" type="text" value="{{systemData.effect.recoil}}" placeholder=" Bonus en Recul">
            </label>
            <label>Melee
                <input name="system.effect.melee" type="number" value="{{systemData.effect.melee}}" placeholder="Bonus en Melee">
            </label><label>Hip
            <input name="system.effect.hip" type="number" value="{{systemData.effect.hip}}" placeholder="Bonus en Hip">
        </label><label>Ready
            <input name="system.effect.ready" type="number" value="{{systemData.effect.ready}}" placeholder="Bonus en Ready">
        </label><label>Aim
            <input name="system.effect.aim" type="number" value="{{systemData.effect.aim}}" placeholder="Bonus en aim">
        </label>
            <label>Chargeur
                <input name="system.effect.magazine" type="number" value="{{systemData.effect.magazine}}" placeholder="Bonus du Chargeur">
            </label><label>Price
            <input name="system.price" type="text" value="{{systemData.price}}" placeholder="Price">
        </label>
        </div>

    </section>

</form>

