<form class="flexcol {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="Name">
            </h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        <label>Description </label>
        {{editor descriptionHTML target="system.description" button=true editable=editable engine="prosemirror"}}
        <div class="attributeValues">
            <label class="input-label body_type">
                <span class="h5" data-i18n="body type">Compétence</span>
                <select name="system.skill" title="@{skill}" id="skill">
                    <option value="handgun" data-i18n="Arme de poing">Arme de poing</option>
                    <option value="heavy_artillery" data-i18n="Artillerie lourde">Artillerie lourde</option>
                    <option value="hunting_sniper_rifle" data-i18n="Chasse / Fusil de sniper">Chasse / Fusil de sniper</option>
                    <option value="shotgun" data-i18n="Fusil à pompe">Fusil à pompe</option>
                    <option value="assault_rifle" data-i18n="Fusil d'assault">Fusil d'assault</option>
                    <option value="melee" data-i18n="Mêlée">Mêlée</option>
                    <option value="submachine_gun" data-i18n="Mitraillette">Mitraillette</option>
                </select>
            </label>
            <label>Recul
            <input name="system.recoil.base" type="text" value="{{systemData.recoil.base}}" placeholder="Recoil">
            </label>
            <label>Melee
                <input name="system.melee" type="number" value="{{systemData.melee}}" placeholder="Melee">
            </label><label>Hip
                <input name="system.hip" type="number" value="{{systemData.hip}}" placeholder="Hip">
            </label><label>Ready
                <input name="system.ready" type="number" value="{{systemData.ready}}" placeholder="Ready">
            </label><label>Aim
                <input name="system.aim" type="number" value="{{systemData.aim}}" placeholder="Aim">
            </label>
            <label>Chargeur
                <input name="system.clip_size" type="number" value="{{systemData.clip_size}}" placeholder="Clip Size">
            </label><label>Base Damage
            <input name="system.base_damage" type="text" value="{{systemData.base_damage}}" placeholder="Base Damage">
            </label><label>X Damage
                <input name="system.x_damage" type="text" value="{{systemData.x_damage}}" placeholder="X Damage">
            </label><label>Element
                <input name="system.element" type="text" value="{{systemData.element}}" placeholder="Element">
            </label><label>Range
                <input name="system.range" type="number" value="{{systemData.range}}" placeholder="Range">
            </label><label>Price
                <input name="system.price" type="text" value="{{systemData.price}}" placeholder="Price">
            </label>
        </div>
    </section>
</form>

