<form class="flexcol {{cssClass}} sheet-rolltemplate-scp" autocomplete="off">
    <header class="sheet-header">
        <div class="header-fields">
            <h1 class="charname_user" style="display: none">
                {{actor.name}}
            </h1>
            <div id="summary" class="level-{{systemData.security_level}}"><span class="character_name h4 " name="attr_character_name" title="@{character_name}">{{actor.name}}</span><span class="alias h5" name="attr_alias" title="@{alias}">{{systemData.alias}}</span>
                <div class="ability-summary strength">
                    <h4 data-i18n="str" class="perks">STR</h4><span class="die-num" name="attr_strength_d8">{{systemData.attributes.strength.d8}}</span><span class="die-size" data-i18n="d8">d8s</span><span class="die-num" name="attr_strength_d10">{{systemData.attributes.strength.d10}}</span><span class="die-size" data-i18n="d10">d10s</span><span class="die-num" name="attr_strength_d12">{{systemData.attributes.strength.d12}}</span><span class="die-size" data-i18n="d12">d12s</span>
                </div>
                <div class="ability-summary health">
                    <h4 data-i18n="hth" class="perks">HTH</h4><span class="die-num" name="attr_health_d8">{{systemData.attributes.health.d8}}</span><span class="die-size" data-i18n="d8">d8s</span><span class="die-num" name="attr_health_d10">{{systemData.attributes.health.d10}}</span><span class="die-size" data-i18n="d10">d10s</span><span class="die-num" name="attr_health_d12">{{systemData.attributes.health.d12}}</span><span class="die-size" data-i18n="d12">d12s</span>
                </div>
                <div class="ability-summary perception">
                    <h4 data-i18n="per" class="perks">PER</h4><span class="die-num" name="attr_perception_d8">{{systemData.attributes.perception.d8}}</span><span class="die-size" data-i18n="d8">d8s</span><span class="die-num" name="attr_perception_d10">{{systemData.attributes.perception.d10}}</span><span class="die-size" data-i18n="d10">d10s</span><span class="die-num" name="attr_perception_d12">{{systemData.attributes.perception.d12}}</span><span class="die-size" data-i18n="d12">d12s</span>
                </div>
                <div class="ability-summary dexterity">
                    <h4 data-i18n="dex" class="perks">DEX</h4><span class="die-num" name="attr_dexterity_d8">{{systemData.attributes.dexterity.d8}}</span><span class="die-size" data-i18n="d8">d8s</span><span class="die-num" name="attr_dexterity_d10">{{systemData.attributes.dexterity.d10}}</span><span class="die-size" data-i18n="d10">d10s</span><span class="die-num" name="attr_dexterity_d12">{{systemData.attributes.dexterity.d12}}</span><span class="die-size" data-i18n="d12">d12s</span>
                </div>
                <div class="ability-summary fate">
                    <h4 data-i18n="fte" class="perks">FTE</h4><span class="die-num" name="attr_dexterity_d8">{{systemData.attributes.dexterity.d8}}</span><span class="die-size" data-i18n="d8">d8s</span><span class="die-num" name="attr_dexterity_d10">{{systemData.attributes.dexterity.d10}}</span><span class="die-size" data-i18n="d10">d10s</span><span class="die-num" name="attr_dexterity_d12">{{systemData.attributes.dexterity.d12}}</span><span class="die-size" data-i18n="d12">d12s</span>
                </div>
                <div class="ability-summary charisma">
                    <h4 data-i18n="chr" class="perks">CHR</h4><span class="die-num" name="attr_fate_d8">{{systemData.attributes.fate.d8}}</span><span class="die-size" data-i18n="d8">d8s</span><span class="die-num" name="attr_fate_d10">{{systemData.attributes.fate.d10}}</span><span class="die-size" data-i18n="d10">d10s</span><span class="die-num" name="attr_fate_d12">{{systemData.attributes.fate.d12}}</span><span class="die-size" data-i18n="d12">d12s</span>
                </div>
                <div class="ability-summary intelligence">
                    <h4 data-i18n="int" class="perks">INT</h4><span class="die-num" name="attr_intelligence_d8">{{systemData.attributes.intelligence.d8}}</span><span class="die-size" data-i18n="d8">d8s</span><span class="die-num" name="attr_intelligence_d10">{{systemData.attributes.intelligence.d10}}</span><span class="die-size" data-i18n="d10">d10s</span><span class="die-num" name="attr_intelligence_d12">{{systemData.attributes.intelligence.d12}}</span><span class="die-size" data-i18n="d12">d12s</span>
                </div>
                <div class="ability-summary willpower">
                    <h4 data-i18n="wil" class="perks">WIL</h4><span class="die-num" name="attr_willpower_d8">{{systemData.attributes.willpower.d8}}</span><span class="die-size" data-i18n="d8">d8s</span><span class="die-num" name="attr_willpower_d10">{{systemData.attributes.willpower.d10}}</span><span class="die-size" data-i18n="d10">d10s</span><span class="die-num" name="attr_willpower_d12">{{systemData.attributes.willpower.d12}}</span><span class="die-size" data-i18n="d12">d12s</span>
                </div>
            </div>
        </div>
        <div id="ma_popup" class="popup" style="display: none">
            <div class="popup-content">
                <span class="closePopup">&times;</span>
                <h2>Lancement des dés</h2>
                <div>
                    <label class="input-label diceUse">
                    <select name="diceUse" title="@{diceUse}" id="diceUse">
                        <option value="true" data-i18n="oui">Oui</option>
                        <option value="false" data-i18n="non">Non</option>
                    </select><span class="h5" data-i18n="diceUse">Utiliser les meilleurs dés ?</span>
                </label>
                </div>
                <div>
                    <label class="input-label diceToUse" style="display: none">
                    <span class="h5" data-i18n="diceToUse">d12 : </span>
                    <select name="diceToUse" class="chooseDice" title="@{d12Selected}" id="d12Selected"></select>
                    <span class="h5" data-i18n="diceToUse">d10 : </span>
                    <select name="diceToUse" class="chooseDice" title="@{d10Selected}" id="d10Selected"></select>
                    <span class="h5" data-i18n="diceToUse">d8 : </span>
                    <select name="diceToUse" class="chooseDice" title="@{d8Selected}" id="d8Selected"></select>
                </label>
                </div>
                <div>
                    <label class="input-label exertionUse" style="display: none">
                    <span class="h5" data-i18n="exertionUse">Utiliser des points d'exertion ?</span>
                    <select name="exertionUse" title="@{exertionUse}" id="exertionUse">
                        <option value="0">0</option>
                    </select>
                </label>
                </div>
                <div>
                    <label class="input-label targetPlayer">
                    <span class="h5" data-i18n="exertionUse">Cible du lancé</span>
                    <select name="launchTarget" title="@{launchTarget}" id="launchTarget">
                        <option value="Public">Public</option>
                        <option value="Perso">Perso</option>
                        <option value="Hidden">Cachés</option>
                    </select>
                </label>
                </div>
                <div style="text-align: center">
                    <label class="input-label launchDice">
                        <span class="h5" data-i18n="lancer">Lancer</span>
                    </label>
                </div>
            </div>
        </div>
        <div id="rollDamage" class="popup" style="display: none">
            <div class="popup-content">
                <span class="closeDamagePopup">&times;</span>
                <h2>Lancement des dégâts</h2>
                <div>
                    <label class="input-label diceToDelete">
                    <span class="h5" data-i18n="diceToUse">Nombre de dés à retirer</span>
                    <select name="diceToDelete" class="chooseDice" title="@{diceToDelete}" id="deleteDice">
                        <option value="0">0</option>
                    </select>
                </label>
                </div>
                <div style="text-align: center">
                    <label class="input-label launchDamageDice">
                        <span class="h5" data-i18n="lancer">Lancer</span>
                    </label>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body level-{{systemData.security_level}}">
        <div id="section-tabs">
            <input class="hidden" name="attr_section" type="radio" value="presentation" checked="" id="presentation-radio" title="@{section}">
            <label class="presentation-radio section-control h5" for="presentation-radio" data-i18n="presentation">Présentation</label>
            <input class="hidden" name="attr_section" type="radio" value="all" id="all-radio" title="@{section}">
            <label class="all-radio section-control h5" for="all-radio" data-i18n="all">Général</label>
            <input class="hidden" name="attr_section" type="radio" value="attacks" id="attacks-radio" title="@{section}">
            <label class="attacks-radio section-control h5" for="attacks-radio" data-i18n="attacks">Armurerie</label>
            <input class="hidden" name="attr_section" type="radio" value="equipment" id="equipment-radio" title="@{section}">
            <label class="equipment-radio section-control h5" for="equipment-radio" data-i18n="equipment">Inventaire</label>
        </div>
        <section id="attributes">
            <div class="available-dice">
                <h4 data-i18n="available dice">Dés Disponibles</h4>
                <input name="attr_available_d8" type="hidden" value="0" title="@{available_d8}">
                <input name="attr_purchased_d8" type="hidden" value="22" title="@{purchased_d8}">
                <input name="attr_total_d8" type="hidden" value="22" title="@{total_d8}">
                <button class="die-purchase" name="act_purchase_d8" type="action"><span name="attr_available_d8">{{systemData.attributes.stock.d8}}</span><span class="die-size" data-i18n="d8">d8s</span></button>
                <input name="attr_available_d10" type="hidden" value="0" title="@{available_d10}">
                <input name="attr_purchased_d10" type="hidden" value="6" title="@{purchased_d10}">
                <input name="attr_total_d10" type="hidden" value="6" title="@{total_d10}">
                <button class="die-purchase" name="act_purchase_d10" type="action"><span name="attr_available_d10">{{systemData.attributes.stock.d10}}</span><span class="die-size" data-i18n="d10">d10s</span></button>
                <input name="attr_available_d12" type="hidden" value="0" title="@{available_d12}">
                <input name="attr_purchased_d12" type="hidden" value="0" title="@{purchased_d12}">
                <input name="attr_total_d12" type="hidden" value="0" title="@{total_d12}">
                <button class="die-purchase" name="act_purchase_d12" type="action"><span name="attr_available_d12">{{systemData.attributes.stock.d12}}</span><span class="die-size" data-i18n="d12">d12s</span></button>
            </div>
            {{> "systems/scp_foundation/templates/partials/ability-score.html" key="strength" label="force"}}
            {{> "systems/scp_foundation/templates/partials/ability-score.html" key="health" label="santé"}}
            {{> "systems/scp_foundation/templates/partials/ability-score.html" key="perception" label="perception"}}
            {{> "systems/scp_foundation/templates/partials/ability-score.html" key="dexterity" label="dexterité"}}
            {{> "systems/scp_foundation/templates/partials/ability-score.html" key="fate" label="Destin"}}
            {{> "systems/scp_foundation/templates/partials/ability-score.html" key="charisma" label="charisme"}}
            {{> "systems/scp_foundation/templates/partials/ability-score.html" key="intelligence" label="intelligence"}}
            {{> "systems/scp_foundation/templates/partials/ability-score.html" key="willpower" label="Volonté"}}
        </section>
        <section class="main" id="main">
            <div class="player_data ">
                <div class="Experience boxData">
                    <label class="input-label thick-right thick-bottom boxed" id="experience">
                        <input class="number h5" name="system.experience" type="text" value="{{systemData.experience}}"><span class="h5" data-i18n="experience">experience</span>
                    </label>
                </div>
                <div class="market boxData">
                    <div class="boxed" id="purchase_guide">
                        <h5 data-i18n="100 exp cost">100 exp = +1d8s</h5>
                        <h5 data-i18n="200 exp cost">200 exp = +1d10s</h5>
                        <h5 data-i18n="500 exp cost">500 exp = +1d12s</h5>
                    </div>
                </div>
                <div class="player_name boxData">
                    <label class="input-label thick-left thick-bottom boxed" id="player_name">
                        <input class="h5" name="system.player" type="text" title="@{player_name}" value="{{systemData.player}}"><span class="h5" data-i18n="player name">Nom du joueur</span>
                    </label>
                </div>
            </div>
            <div class="charactere_stats">
                <div class="reverence">
                    <section class="active-section sticky-sub" id="reverence">
                        <h4 data-i18n="reverence">reverence</h4>
                        <div class="fillTrack">
                            <input name="attr_reverence" type="hidden" value="4" title="@{reverence}">
                            <input class="fill-0 fill-label separated-label clearer reverenceTile" name="attr_reverence" type="radio" value="0" checked="" title="clear all reverence">
                            <input class="fill-1 fill-label separated-label reverenceTile" name="attr_reverence" type="radio" value="1">
                            <input class="fill-2 fill-label separated-label reverenceTile" name="attr_reverence" type="radio" value="2">
                            <input class="fill-3 fill-label separated-label reverenceTile" name="attr_reverence" type="radio" value="3">
                            <input class="fill-4 fill-label separated-label reverenceTile" name="attr_reverence" type="radio" value="4">
                            <input class="fill-5 fill-label separated-label reverenceTile" name="attr_reverence" type="radio" value="5">
                            <input class="fill-6 fill-label separated-label reverenceTile" name="attr_reverence" type="radio" value="6">
                            <input class="fill-7 fill-label separated-label reverenceTile" name="attr_reverence" type="radio" value="7">
                        </div><span class="help" data-i18n="reverence help">spend 2 to reroll an attribute check spend 4 to draw a drama card spend sl+3 to gain +1 merit point spend 6 for +7 max hp</span>
                    </section>
                </div>
                <div class="stats">
                    <section class="active-section" id="defenses">
                        <div class="character_row_other">
                            <div>
                                <label class="input-label hp stacked">
                                    <input class="number h5 underlined" name="system.hp.value" type="text" value="{{systemData.hp.value}}" title="@{hp}"><span data-i18n="hp">hp</span>
                                </label>
                            </div>
                            <div>
                                <label class="input-label hp_max stacked">
                                    <input class="number h5 underlined" name="system.hp.max" type="text" value="{{systemData.hp.max}}" title="@{hp|max}"><span data-i18n="max hp">hp max</span>
                                </label>
                            </div>
                            <div>
                                <label class="input-label damage_reduction stacked">
                                    <input class="number h5 underlined" name="system.damage_reduction" type="text" value="{{systemData.damage_reduction}}" title="@{damage_reduction}"><span data-i18n="damage reduction">reduction de dégât</span>
                                </label>
                            </div>
                        </div>
                        <div class="character_row_other">
                            <div>
                                <label class="input-label reaction_defense stacked">
                                    <input class="number h5 underlined" name="system.reaction_defense.value" type="text" readonly="" value="{{systemData.reaction_defense.value}}" title="@{reaction_defense}"><span data-i18n="reaction defense">réaction de défense</span>
                                </label>
                            </div>
                            <div>
                                <label class="input-label move_speed stacked">
                                    <input class="number h5 underlined" name="system.move_speed" type="text" readonly="" value="{{systemData.move_speed}}" title="@{move_speed}"><span data-i18n="move speed">vitesse de déplacement</span>
                                </label>
                            </div>
                            <div>
                                <label class="input-label cognitive_resistance stacked">
                                    <input class="number h5 underlined" name="system.cognitive_resistance.value" type="text" readonly="" value="{{systemData.cognitive_resistance.value}}" title="@{cognitive_resistance}"><span data-i18n="cognitive resistance">résistance cognitive</span>
                                </label>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="exertion">
                    <section class="active-section sticky-sub" id="exertion">
                        <h4 class="header" data-i18n="exertion">exertion</h4>
                        <div class="fillTrack">
                            <input name="attr_exertion" type="hidden" value="0" title="@{exertion}">
                            <input class="fill-0 fill-label separated-label clearer exertionTile" name="attr_exertion" type="radio" value="0" checked="" title="clear all exertion">
                            <input class="fill-1 fill-label separated-label exertionTile" name="attr_exertion" type="radio" value="1">
                            <input class="fill-2 fill-label separated-label exertionTile" name="attr_exertion" type="radio" value="2">
                            <input class="fill-3 fill-label separated-label exertionTile" name="attr_exertion" type="radio" value="3">
                            <input class="fill-4 fill-label separated-label exertionTile" name="attr_exertion" type="radio" value="4">
                            <input class="fill-5 fill-label separated-label exertionTile" name="attr_exertion" type="radio" value="5">
                            <input class="fill-6 fill-label separated-label exertionTile" name="attr_exertion" type="radio" value="6">
                            <input class="fill-7 fill-label separated-label exertionTile" name="attr_exertion" type="radio" value="7">
                        </div>
                        <div class="fillTrack">
                            <input name="attr_exertion_max" type="hidden" value="2" title="@{exertion|max}">
                            <span class="fill-1 fill-label separated-span exertionMax" id="exertionMax1" title="[1 exertion max]"></span>
                            <span class="fill-2 fill-label separated-span exertionMax" id="exertionMax2" title="[2 exertion max]"></span>
                            <span class="fill-3 fill-label separated-span exertionMax" id="exertionMax3" title="[3 exertion max]"></span>
                            <span class="fill-4 fill-label separated-span exertionMax" id="exertionMax4" title="[4 exertion max]"></span>
                            <span class="fill-5 fill-label separated-span exertionMax" id="exertionMax5" title="[5 exertion max]"></span>
                            <span class="fill-6 fill-label separated-span exertionMax" id="exertionMax6" title="[6 exertion max]"></span>
                            <span class="fill-7 fill-label separated-span exertionMax" id="exertionMax7" title="[7 exertion max]"></span>
                        </div><span class="help" data-i18n="exertion help">spend to add +1 and 1d12 to any strength, dexterity, health, or willpower roll.</span>
                    </section>
                </div>
            </div>
            <div class="charactere_data" id="charactere_data">
                <div class="character_row_first">
                    <div class="character_name">
                        <label class="input-label underline-label over stacked character_name">
                            <span class="h5" data-i18n="character name">Nom de personnage</span>
                            <input class="underlined" name="name" type="text" title="@{character_name}" value="{{actor.name}}" placeholder="Name">
                        </label>
                    </div>
                    <div class="alias">
                        <label class="input-label underline-label over stacked alias">
                            <span class="h5" data-i18n="alias">alias</span>
                            <input class="underlined" name="system.alias" type="text" title="@{alias}" value="{{systemData.alias}}" placeholder="Alias">
                        </label>
                    </div>
                </div>
                <div class="character_row_other">
                    <div class="gender">
                        <label class="input-label gender">
                            <span class="h5" data-i18n="gender">Genre</span>
                            <input class="underlined" name="system.gender" type="text" title="@{gender}" value="{{systemData.gender}}" placeholder="Gender">
                        </label>
                    </div>
                    <div class="weight">
                        <label class="input-label weight">
                            <span class="h5" data-i18n="weight">Poids</span>
                            <input class="underlined" name="system.weight" type="text" title="@{weight}" value="{{systemData.weight}}">
                        </label>
                    </div>
                    <div class="height">
                        <label class="input-label height">
                            <span class="h5" data-i18n="height">Taille</span>
                            <input class="underlined" name="system.height" type="text" title="@{height}" value="{{systemData.height}}">
                        </label>
                    </div>
                </div>
                <div class="character_row_other">
                    <div class="age">
                        <label class="input-label age">
                            <span class="h5" data-i18n="age">Âge</span>
                            <input class="underlined" name="system.age" type="text" title="@{age}" value="{{systemData.age}}" placeholder="âge">
                        </label>
                    </div>
                    <div class="hair">
                        <label class="input-label hair">
                            <span class="h5" data-i18n="hair">Cheveux</span>
                            <input class="underlined" name="system.hair" type="text" title="@{hair}" value="{{systemData.hair}}" placeholder="Cheveux">
                        </label>
                    </div>
                    <div class="eyes">
                        <label class="input-label eyes">
                            <span class="h5" data-i18n="eyes">Yeux</span>
                            <input class="underlined" name="system.eyes" type="text" title="@{eyes}" value="{{systemData.eyes}}" placeholder="Yeux">
                        </label>
                    </div>
                </div>
                <div class="character_row_other">
                    <div class="appearance">
                        <label class="input-label appearance">
                            <select name="system.appearance" title="@{appearance}" id="appearance">
                                <option value="beau" data-i18n="beau">beau</option>
                                <option value="attractif" data-i18n="attractif">attractif</option>
                                <option value="moyenne" data-i18n="moyenne">moyenne</option>
                                <option value="étrange" data-i18n="étrange">étrange</option>
                                <option value="effrayant" data-i18n="effrayant">effrayant</option>
                            </select><span class="h5" data-i18n="appearance">apparance</span>
                        </label>
                    </div>
                    <div class="body_type">
                        <label class="input-label body_type">
                            <select name="system.body_type" title="@{body_type}" id="body_type">
                                <option value="petit" data-i18n="petit">petit</option>
                                <option value="mince" data-i18n="mince">mince</option>
                                <option value="moyenne" data-i18n="moyenne">moyenne</option>
                                <option value="lourd" data-i18n="lourd">lourd</option>
                                <option value="bestial" data-i18n="bestial">bestial</option>
                            </select><span class="h5" data-i18n="body type">Type de corps</span>
                        </label>
                    </div>
                    <div class="reasoning">
                        <label class="input-label reasoning">
                            <select name="system.reasoning" title="@{reasoning}" id="reasoning">
                                <option value="naif" data-i18n="naive">naif</option>
                                <option value="sceptique" data-i18n="skeptical">sceptique</option>
                                <option value="scientifique" data-i18n="scientific" selected="">scientifique</option>
                                <option value="open-minded" data-i18n="open-minded">ouvert d'esprit</option>
                                <option value="fou" data-i18n="fou">fou</option>
                            </select>
                            <span class="h5" data-i18n="reasoning">raisonnement</span>
                        </label>
                    </div>
                </div>
                <div class="character_row_personnel">
                    <div class="personnel_class">
                        <h5>Classe du Personnel</h5>
                        <div class="personnel_button">
                            <label><input type="radio" name="personnelButton" value="A" class="personnelButton"><span class="personnel-label personnel-a">A</span></label>
                            <label><input type="radio" name="personnelButton" value="B" class="personnelButton"><span class="personnel-label personnel-b">B</span></label>
                            <label><input type="radio" name="personnelButton" value="C" class="personnelButton"><span class="personnel-label personnel-c">C</span></label>
                            <label><input type="radio" name="personnelButton" value="D" class="personnelButton"><span class="personnel-label personnel-d">D</span></label>
                            <label><input type="radio" name="personnelButton" value="E" class="personnelButton"><span class="personnel-label personnel-e">E</span></label>
                        </div>
                    </div>
                    <div class="credit">
                        <label class="input-label thick-left thick-bottom thick-right thick-top boxed" id="credits">
                            <span class="h5" data-i18n="credits">credits</span>
                            <input class="number number" name="system.credits" type="text" title="@{credits}" value="{{systemData.credits}}">
                        </label>
                    </div>
                </div>
                <div class="character_row_card">
                    <div id="security_level">
                        <div class="head">
                            <h1 class="header" data-i18n="scp">scp</h1>
                            <h5 class="sub-header" data-i18n="secure contain protect">secure. contain. protect.</h5>
                            <div class="transparent-logo"></div>
                            <label class="input-label stacked over security_level">
                                <input class="number ratio1-1 boxed thick-left thick-bottom thick-right thick-top" name="system.security_level" type="text" id="security-input" title="@{security_level}" value="{{systemData.security_level}}"><span class="h5" data-i18n="security level">security level</span>
                            </label>
                        </div>
                        <div class="qr-code"></div>
                        <div class="merit">
                            <h5 data-i18n="merit count">merit count</h5>
                            <div class="fillTrack">
                                <input name="attr_merit" type="hidden" value="2" title="@{merit}">
                                <input class="fill-0 fill-label separated-label merit_pointTile clearer" name="attr_merit" type="radio" value="0" checked="" title="clear all merit">
                                <input class="fill-1 fill-label separated-label merit_pointTile" name="attr_merit" type="radio" value="1">
                                <input class="fill-2 fill-label separated-label merit_pointTile" name="attr_merit" type="radio" value="2">
                                <input class="fill-3 fill-label separated-label merit_pointTile" name="attr_merit" type="radio" value="3">
                                <input class="fill-4 fill-label separated-label merit_pointTile" name="attr_merit" type="radio" value="4">
                                <input class="fill-5 fill-label separated-label merit_pointTile" name="attr_merit" type="radio" value="5">
                                <input class="fill-6 fill-label separated-label merit_pointTile" name="attr_merit" type="radio" value="6">
                                <input class="fill-7 fill-label separated-label merit_pointTile" name="attr_merit" type="radio" value="7">
                                <input class="fill-8 fill-label separated-label merit_pointTile" name="attr_merit" type="radio" value="8">
                                <input class="fill-9 fill-label separated-label merit_pointTile" name="attr_merit" type="radio" value="9">
                                <input class="fill-10 fill-label separated-label merit_pointTile" name="attr_merit" type="radio" value="10">
                            </div>
                        </div>
                        <div class="id">
                            <div class="black-logo">
                                <div class="black-diamond"></div>
                                <div class="logo"></div>
                            </div><span name="attr_operative_id" title="@{operative_id}">-N9lEsYpatOkyDUHqOUJ</span>
                        </div>
                    </div>
                    <div style="display: grid; margin-left: 1em">
                        <label>Description </label>
                        <textarea name="system.biography" style="min-height: 11em; min-width: 18em">{{systemData.biography}}</textarea>
                    </div>
                </div>
                <div class="action">
                    <div id="skills">
                        <h4 class="header" data-i18n="skills">skills</h4>
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="handgun" label="Arme de poing" i18nKey="handgun" category="skills" perk=systemData.perks.skills.handgun}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="heavy_artillery" label="Artillerie lourde" i18nKey="heavy artillery" category="skills" perk=systemData.perks.skills.heavy_artillery}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="hunting_sniper_rifle" label="Chasse / Fusil de Sniper" i18nKey="hunting / sniper rifle" category="skills" perk=systemData.perks.skills.hunting_sniper_rifle}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="shotgun" label="Fusil à pompe" i18nKey="shotgun" category="skills" perk=systemData.perks.skills.shotgun}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="assault_rifle" label="Fusil D'Assault" i18nKey="assault rifle" category="skills" perk=systemData.perks.skills.assault_rifle}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="melee" label="Mêlée" i18nKey="melee" category="skills" perk=systemData.perks.skills.melee}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="submachine_gun" label="Mitraillette" i18nKey="submachine gun" category="skills" perk=systemData.perks.skills.submachine_gun thick=true}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="art_music" label="Art / Musique" i18nKey="art / music" category="skills" perk=systemData.perks.skills.art_music}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="catch_throw" label="Attraper / Jeter" i18nKey="catch / throw" category="skills" perk=systemData.perks.skills.catch_throw}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="drive" label="Conduite" i18nKey="drive" category="skills" perk=systemData.perks.skills.drive}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="lockpicking" label="Crochetage" i18nKey="lockpicking" category="skills" perk=systemData.perks.skills.lockpicking}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="writing" label="écriture" i18nKey="writing" category="skills" perk=systemData.perks.skills.writing}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="teaching" label="Enseignement" i18nKey="teaching" category="skills" perk=systemData.perks.skills.teaching}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="climb" label="Escalade" i18nKey="climb" category="skills" perk=systemData.perks.skills.climb}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="stealth_hide" label="furtivité / se cacher" i18nKey="stealth / hide" category="skills" perk=systemData.perks.skills.stealth_hide}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="acting_lie" label="Jouer la comédie / Mentir" i18nKey="acting / lie" category="skills" perk=systemData.perks.skills.acting_lie}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="wrestle_disarm" label="lutte / désarmer" i18nKey="wrestle / disarm" category="skills" perk=systemData.perks.skills.wrestle_disarm}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="showmanship" label="Mise en scène" i18nKey="showmanship" category="skills" perk=systemData.perks.skills.showmanship}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="swim" label="Natation" i18nKey="swim" category="skills" perk=systemData.perks.skills.swim}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="pickpocket" label="pickpocket" i18nKey="pickpocket" category="skills" perk=systemData.perks.skills.pickpocket}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="pilot" label="Pilotage" i18nKey="pilot" category="skills" perk=systemData.perks.skills.pilot}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="disguise_blend_in" label="se déguiser / se fondre dans la masse" i18nKey="disguise / blend in" category="skills" perk=systemData.perks.skills.disguise_blend_in}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="break_free_escape" label="se libérer / s'échapper" i18nKey="break free / escape" category="skills" perk=systemData.perks.skills.break_free_escape}}
                    </div>
                    <div id="knowledges">
                        <h4 class="header" data-i18n="knowledges">Connaissances</h4>
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="anatomy_first_aid" label="anatomie / premiers secours" i18nKey="anatomy / first aid" category="knowledges" perk=systemData.perks.knowledges.anatomy_first_aid}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="architecture" label="architecture" i18nKey="architecture" category="knowledges" perk=systemData.perks.knowledges.architecture}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="astronomy" label="astronomie" i18nKey="astronomy" category="knowledges" perk=systemData.perks.knowledges.astronomy}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="general_knowledge" label="connaissances générales" i18nKey="general knowledge" category="knowledges" perk=systemData.perks.knowledges.general_knowledge}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="cooking" label="Cuisine" i18nKey="cooking" category="knowledges" perk=systemData.perks.knowledges.cooking}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="demolition" label="démolition" i18nKey="demolition" category="knowledges" perk=systemData.perks.knowledges.demolition}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="history_lore" label="histoire / lore" i18nKey="history / lore" category="knowledges" perk=systemData.perks.knowledges.history_lore}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="identify_taste_smell" label="identifier le goût / l'odeur" i18nKey="identify taste / smell" category="knowledges" perk=systemData.perks.knowledges.identify_taste_smell}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="computer_hacking" label="informatique / piratage" i18nKey="computer / hacking" category="knowledges" perk=systemData.perks.knowledges.computer_hacking}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="investigate" label="investigation" i18nKey="investigate" category="knowledges" perk=systemData.perks.knowledges.investigate}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="gambling_gaming" label="jeux d'argent / jeux de hasard" i18nKey="gambling / gaming" category="knowledges" perk=systemData.perks.knowledges.gambling_gaming}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="ancient_languages" label="langues anciennes" i18nKey="ancient languages" category="knowledges" perk=systemData.perks.knowledges.ancient_languages}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="law_politics" label="loi / politique" i18nKey="law / politics" category="knowledges" perk=systemData.perks.knowledges.law_politics}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="mathematics" label="mathématiques" i18nKey="mathematics" category="knowledges" perk=systemData.perks.knowledges.mathematics}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="mechanics" label="méchanique" i18nKey="mechanics" category="knowledges" perk=systemData.perks.knowledges.mechanics}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="fashion_etiquette" label="mode / étiquette" i18nKey="fashion / etiquette" category="knowledges" perk=systemData.perks.knowledges.fashion_etiquette}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="navigate" label="navigation" i18nKey="navigate" category="knowledges" perk=systemData.perks.knowledges.navigate}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="occulte_scp_lore" label="occulte / SCP lore" i18nKey="occulte / scp lore" category="knowledges" perk=systemData.perks.knowledges.occulte_scp_lore}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="caretaking_nurture" label="prendre soin / nourrir" i18nKey="caretaking / nurture" category="knowledges" perk=systemData.perks.knowledges.caretaking_nurture}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="psychology" label="psychologie" i18nKey="psychology" category="knowledges" perk=systemData.perks.knowledges.psychology}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="research_internet" label="Recherche / Internet" i18nKey="research / internet" category="knowledges" perk=systemData.perks.knowledges.research_internet}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="religion" label="religion" i18nKey="religion" category="knowledges" perk=systemData.perks.knowledges.religion}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="science_physics" label="science / physique" i18nKey="science / physics" category="knowledges" perk=systemData.perks.knowledges.science_physics}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="visual_sign_sign_lang" label="signe visuel / langue des signes" i18nKey="visual sign / sign_lang" category="knowledges" perk=systemData.perks.knowledges.visual_sign_sign_lang}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="survival_tracking" label="survie / traque" i18nKey="survival / tracking" category="knowledges" perk=systemData.perks.knowledges.survival_tracking}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="technology" label="technologie" i18nKey="technology" category="knowledges" perk=systemData.perks.knowledges.technology}}
                    </div>
                    <div id="abilities">
                        <h4 class="header" data-i18n="abilities">Abilités</h4>
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="awareness_reaction" label="conscience / réaction" i18nKey="awareness / reaction" category="abilities" perk=systemData.perks.abilities.awareness_reaction}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="dodge_block" label="esquive / bloquage" i18nKey="dodge / block" category="abilities" perk=systemData.perks.abilities.dodge_block thick=true}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="athletics" label="athlétisme" i18nKey="athletics" category="abilities" perk=systemData.perks.abilities.athletics}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="animal_ken_tame" label="Connaissance des animaux / apprivoisement" i18nKey="animal ken / tame" category="abilities" perk=systemData.perks.abilities.animal_ken_tame}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="empathy" label="empathie" i18nKey="empathy" category="abilities" perk=systemData.perks.abilities.empathy}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="endurance" label="endurance" i18nKey="endurance" category="abilities" perk=systemData.perks.abilities.endurance}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="initiative" label="initiative" i18nKey="initiative" category="abilities" perk=systemData.perks.abilities.initiative}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="intimidate_taunt" label="intimidation / taunt" i18nKey="intimidate / taunt" category="abilities" perk=systemData.perks.abilities.intimidate_taunt}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="intuition" label="intuition" i18nKey="intuition" category="abilities" perk=systemData.perks.abilities.intuition}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="leadership" label="leadership" i18nKey="leadership" category="abilities" perk=systemData.perks.abilities.leadership}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="negociation_persuade" label="négociation / persuasion" i18nKey="negociation / persuade" category="abilities" perk=systemData.perks.abilities.negociation_persuade}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="resist_distress" label="résistance à la détresse" i18nKey="resist_distress" category="abilities" perk=systemData.perks.abilities.resist_distress}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="resist_ko_death" label="résistance au ko / à la mort" i18nKey="resist ko / death" category="abilities" perk=systemData.perks.abilities.resist_ko_death}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="jump" label="saut" i18nKey="jump" category="abilities" perk=systemData.perks.abilities.jump}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="self_controle" label="self contrôle" i18nKey="self_controle" category="abilities" perk=systemData.perks.abilities.self_controle}}
                        {{> "systems/scp_foundation/templates/partials/perk-row.html" key="lift_push" label="soulever / pousser" i18nKey="lift / push" category="abilities" perk=systemData.perks.abilities.lift_push}}
                    </div>
                </div>
            </div>
            <div class="weapons" id="weapons">
                <div id="multiplier">
                    <label class="input-label melee-mult">
                        <input class="number h5 boxed" id="meleeMult" name="system.melee_multiplier.perso" type="number" title="@{melee_multiplier}" value="{{systemData.melee_multiplier.perso}}"><span class="h5" data-i18n="melee multiplier">melee multiplier</span>
                    </label>
                    <label class="input-label ranged-mult">
                        <input class="number h5 boxed" id="projMult" name="system.projection_multiplier.perso" type="number" title="@{ranged_multiplier}" value="{{systemData.projection_multiplier.perso}}"><span class="h5" data-i18n="ranged multiplier">ranged multiplier</span>
                    </label>
                </div>
                <div id="attributesValues">
                    <div class="rectangle">
                        <div class="left"><img src="systems/scp_foundation/assets/gun.png" alt="Image"></div>
                        <div class="right"><h5>Arme de poing</h5><p class="statValue" id="skills.handgun"></p></div>
                    </div>
                    <div class="rectangle">
                        <div class="left"><img src="systems/scp_foundation/assets/machine-gun.png" alt="Image"></div>
                        <div class="right"><h5>Artillerie Lourde</h5><p class="statValue" id="skills.heavy_artillery"></p></div>
                    </div>
                    <div class="rectangle">
                        <div class="left"><img src="systems/scp_foundation/assets/snipe.png" alt="Image"></div>
                        <div class="right"><h5>Chasse / Fusil de Sniper</h5><p class="statValue" id="skills.hunting_sniper_rifle"></p></div>
                    </div>
                    <div class="rectangle">
                        <div class="left"><img src="systems/scp_foundation/assets/shotgun.png" alt="Image"></div>
                        <div class="right"><h5>Fusil à Pompe</h5><p class="statValue" id="skills.shotgun"></p></div>
                    </div>
                    <div class="rectangle">
                        <div class="left"><img src="systems/scp_foundation/assets/rifle.png" alt="Image"></div>
                        <div class="right"><h5>Fusil d'Assault</h5><p class="statValue" id="skills.assault_rifle"></p></div>
                    </div>
                    <div class="rectangle">
                        <div class="left"><img src="systems/scp_foundation/assets/knife.png" alt="Image"></div>
                        <div class="right"><h5>Mêlée</h5><p class="statValue" id="skills.melee"></p></div>
                    </div>
                    <div class="rectangle">
                        <div class="left"><img src="systems/scp_foundation/assets/uzi.png" alt="Image"></div>
                        <div class="right"><h5>Mitraillette</h5><p class="statValue" id="skills.submachine_gun"></p></div>
                    </div>
                </div>
                <div class="filters">
                    <label for="showChecked">Afficher seulement ceux équipés</label>
                    <input type="checkbox" class="showChecked" id="showChecked">
                </div>
                <div id="listeArmes">
                    <table id="tableArmes">
                        <thead>
                            <th>Equipé</th>
                            <th style="width: 6%"></th>
                            <th>Arme</th>
                            <th>Type</th>
                            <th>Recul</th>
                            <th>Mélée</th>
                            <th>Hip</th>
                            <th>Ready</th>
                            <th>Aim</th>
                            <th>Chargeur</th>
                            <th>Base</th>
                            <th>X</th>
                            <th>Element</th>
                            <th>Portée</th>
                            <th>Vendre</th>
                        </thead>
                        {{#each actor.items as |item key|}}
                        {{#if (eq item.type "arme")}}
                        <tr class="item arme" data-item-id="{{item._id}}">
                            <td><input type="checkbox" class="isHoldCheckbox" name="{{item._id}}" value="{{item.system.hold}}"></td>
                            <td><img src="{{item.img}}" class="toggle-details" title="{{item.name}}" height="32" width="32"/></td>
                            <td><label class="roll-label" title="%{weapon}">
                                <div class="dice-icon"><span class="d8-font"></span><span class="d10-font"></span><span class="d12-font"></span></div>
                                <button class="weaponRoller" type="button" name="{{item.name}}" data-i18n="{{item.name}}" value="{{item._id}}">{{item.name}}</button>
                            </label></td>
                            <td>{{item.system.skill}}</td>
                            <td>{{item.system.recoil.actual}}</td>
                            <td>
                                <input type="radio" id="item{{item._id}}Melee" name="item{{item._id}}" value="1" class="radio-item-system">
                                <label for="item{{item._id}}Melee">{{item.system.melee}}</label>
                            </td>
                            <td>
                                <input type="radio" id="item{{item._id}}Hip" name="item{{item._id}}" value="2" class="radio-item-system">
                                <label for="item{{item._id}}Hip">{{item.system.hip}}</label>
                            </td>
                            <td>
                                <input type="radio" id="item{{item._id}}Ready" name="item{{item._id}}" value="3" class="radio-item-system">
                                <label for="item{{item._id}}Ready">{{item.system.ready}}</label>
                            </td>
                            <td>
                                <input type="radio" id="item{{item._id}}Aim" name="item{{item._id}}" value="4" class="radio-item-system">
                                <label for="item{{item._id}}Aim">{{item.system.aim}}</label>
                            </td>
                            <td><input type="number" class="magazine" style="width: 1.6em;text-align: right" name="{{item._id}}" value="{{item.system.magazine.actual}}">/{{item.system.magazine.max}}</td>
                            <td>{{item.system.base_damage}}</td>
                            <td>{{item.system.x_damage}}</td>
                            <td>{{item.system.element}}</td>
                            <td>{{item.system.range}}</td>
                            <td><a class="item-delete" title="Vendre l'item"><i class="fas fa-trash"></i></a></td>
                        </tr>
                        <tr class="attachments" style="display: none">
                            <td colspan="15">
                                <table class="item-details">
                        {{#each actor.items as |attachment key|}}
                            {{#each item.system.attachments as |attachmentId key|}}
                                {{#if (eq attachment._id attachmentId)}}
                                    <tr class="item" data-item-id="{{attachmentId}}">
                                        <td><input type="checkbox" class="isHoldCheckbox" name="{{attachment._id}}" value="{{attachment.system.hold}}"></td>
                                        <td><img src="{{attachment.img}}" class="toggle-details" title="{{attachment.name}}" height="32" width="32"/></td>
                                        <td>{{attachment.name}}</td>
                                        <td></td>
                                        <td>{{attachment.system.effect.recoil}}</td>
                                        <td>{{attachment.system.effect.melee}}</td>
                                        <td>{{attachment.system.effect.hip}}</td>
                                        <td>{{attachment.system.effect.ready}}</td>
                                        <td>{{attachment.system.effect.aim}}</td>
                                        <td>{{attachment.system.effect.magazine}}</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td><a class="item-delete" title="Vendre l'item"><i class="fas fa-trash"></i></a></td>
                                    </tr>
                                {{/if}}
                            {{/each}}
                        {{/each}}
                                </table>
                            </td>
                        </tr>
                        {{/if}}
                        {{/each}}
                    </table>
                </div>
            </div>
            <div class="inventory" id="inventory">
                <div class="filters">
                    <a class="sortAlpha" title="Vendre l'item"><i class="fas fa-sort-alpha-asc"></i></a>
                    <label for="showCheckedBis">Afficher seulement ceux équipés</label>
                    <input type="checkbox" class="showChecked" id="showCheckedBis">
                    <input type="text" id="searchInput" placeholder="Rechercher par texte">
                </div>
                <table id="dataTable">
                    <thead>
                    <tr>
                        <th>Equipés</th>
                        <th>Nom</th>
                        <th>Vendre</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each actor.items as |item key|}}
                    {{#unless (or (eq item.type "arme") (eq item.type "accessoire"))}}
                    <tr class="item inventory_item" data-item-id="{{item._id}}">
                        <td><input type="checkbox" class="isHoldCheckbox" name="{{item._id}}" value="{{item.system.hold}}"></td>
                        <td>
                            <input type="text" class="nameUpdate" name="{{item._id}}" value="{{item.name}}" style="width: 80%">
                            {{#if (eq item.type "objet_stackable")}}
                            <span style="text-transform: none">(x<input type="number" name="{{item._id}}" value="{{item.system.owned}}" class="ownedValue" style="width: 1.6em;text-align: center">)</span>
                            {{/if}}
                        </td>
                        <td><a class="item-delete" title="Vendre l'item"><i class="fas fa-trash"></i></a></td>
                    </tr>
                    {{/unless}}
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </section>
        <div id="presentation" class="presentation">
            <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="128" width="128" alt=""/>
            <textarea readonly>{{systemData.biography}}</textarea>
        </div>
    </section>
</form>
