<form class="flexcol {{cssClass}} location-sheet" autocomplete="off">
    {{> "systems/scp_foundation/templates/partials/item-header.html"}}

    <section class="sheet-body">
        <div class="item-section">
            <p class="item-section-title">Détails</p>
            <div class="item-fields">
                <label class="input-label stacked">
                    <input name="system.rent" type="text" value="{{systemData.rent}}" placeholder="—">
                    <span>Loyer</span>
                </label>
                <label class="input-label stacked">
                    <input name="system.price" type="text" value="{{systemData.price}}" placeholder="—">
                    <span>Prix d'achat</span>
                </label>
            </div>
        </div>

        <div class="item-section item-section--description">
            <p class="item-section-title">Description</p>
            {{editor descriptionHTML target="system.description" button=true editable=editable engine="prosemirror"}}
        </div>
    </section>
</form>
