<form class="flexcol {{cssClass}} other-sheet" autocomplete="off">
    {{> "systems/scp_foundation/templates/partials/item-header.html"}}

    <section class="sheet-body">
        <label>Description </label>
        {{editor descriptionHTML target="system.description" button=true editable=editable engine="prosemirror"}}
        <div class="attributeValues">
            <label>Price
                <input name="system.price" type="text" value="{{systemData.price}}" placeholder="Price">
            </label>
        </div>
    </section>

</form>

