<form class="flexcol {{cssClass}} pnj-sheet " autocomplete="off">
    <header class="sheet-header">
        <div class="header-fields inline-header">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="Name">
            </h1>
            <div id="power_lvl">
                <label>Niveau de puissance
                    <input name="system.power_lvl" type="number" value="{{systemData.power_lvl}}">
                </label>
            </div>
            {{> "systems/scp_foundation/templates/partials/pnj-popup.html"}}
        </div>
    </header>

    <section class="sheet-body">
        {{> "systems/scp_foundation/templates/partials/pnj-attributes.html"}}
        <div id="pnj-info">
            <div style="width: 20%">
                <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="128" width="128"/>
            </div>
            <div style="width: 40%">
                <div>
                    <textarea name="system.quote" style="min-height: 5em; min-width: 16em">{{systemData.quote}}</textarea>
                </div>
                <div class="container">
                    <label>Physique
                        <input type="number" name="system.stats.physical" value="{{systemData.stats.physical}}">
                    </label>
                    <label>Mental
                        <input type="number" name="system.stats.mental" value="{{systemData.stats.mental}}">
                    </label>
                </div>
            </div>
            <div class="container pnj-stats">
                <div id="pnj-hp">
                    <label>HP :
                        <input type="number" name="system.hp" value="{{systemData.hp}}">
                    </label>
                </div>

                <div class="stats_pnj">
                    <label>Reaction de défense
                        <input type="number" name="system.reaction_defense" value="{{systemData.reaction_defense}}">
                    </label>
                    <label>Vitesse de déplacement
                        <input type="number" name="system.move_speed" value="{{systemData.move_speed}}">
                    </label>
                    <label>Exertion
                        <input type="number" name="system.exertion" value="{{systemData.exertion}}">
                    </label>
                </div>
            </div>
        </div>
        {{> "systems/scp_foundation/templates/partials/pnj-weapon-table.html"}}
    </section>

</form>

