<form class="flexcol {{cssClass}} pnj-sheet level-{{systemData.power_lvl}}" autocomplete="off">
    <header class="sheet-header">
        <div class="header-fields pnj-header">
            <img src="systems/scp_foundation/assets/scp-foundation-logo-white.png" class="pnj-header-logo" alt="SCP"/>
            <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" class="pnj-portrait"/>
            <div class="pnj-header-main">
                <h1 class="charname">
                    <input name="name" type="text" value="{{actor.name}}" placeholder="Name">
                </h1>
                <div id="power_lvl">
                    <label class="input-label stacked">
                        <input class="number h5" name="system.power_lvl" type="text" value="{{systemData.power_lvl}}">
                        <span>Niveau de puissance</span>
                    </label>
                </div>
            </div>
            {{> "systems/scp_foundation/templates/partials/pnj-popup.html"}}
        </div>
    </header>

    <section class="sheet-body">
        {{> "systems/scp_foundation/templates/partials/pnj-attributes.html"}}

        <div class="container pnj-stats">
            <div class="pnj-section">
                <div class="character_row_other">
                    <div>
                        <label class="input-label hp stacked">
                            <input class="number h5 underlined" name="system.hp.value" type="text" value="{{systemData.hp.value}}">
                            <span>HP</span>
                        </label>
                    </div>
                    <div>
                        <label class="input-label hp_max stacked">
                            <input class="number h5 underlined" name="system.hp.max" type="text" value="{{systemData.hp.max}}">
                            <span>HP max</span>
                        </label>
                    </div>
                    <div>
                        <label class="input-label stacked">
                            <input class="number h5 underlined" name="system.exertion" type="text" value="{{systemData.exertion}}">
                            <span>Exertion</span>
                        </label>
                    </div>
                </div>
                <div class="character_row_first">
                    <div>
                        <label class="input-label stacked">
                            <input class="number h5 underlined" name="system.reaction_defense" type="text" value="{{systemData.reaction_defense}}">
                            <span>Réaction de défense</span>
                        </label>
                    </div>
                    <div>
                        <label class="input-label stacked">
                            <input class="number h5 underlined" name="system.move_speed" type="text" value="{{systemData.move_speed}}">
                            <span>Vitesse de déplacement</span>
                        </label>
                    </div>
                </div>
                <div class="character_row_first">
                    <div>
                        <label class="input-label stacked">
                            <input class="number h5 underlined" name="system.stats.physical" type="text" value="{{systemData.stats.physical}}">
                            <span>Physique</span>
                        </label>
                    </div>
                    <div>
                        <label class="input-label stacked">
                            <input class="number h5 underlined" name="system.stats.mental" type="text" value="{{systemData.stats.mental}}">
                            <span>Mental</span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="pnj-section">
                <textarea name="system.quote" placeholder="Citation...">{{systemData.quote}}</textarea>
            </div>
        </div>

        {{> "systems/scp_foundation/templates/partials/pnj-weapon-table.html"}}
    </section>
</form>
